@charset "UTF-8";
html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: -apple-system, "Helvetica Neue", "Arial", "Segoe UI", "PingFang SC", "Hiragino Sans GB", "STHeiti",
    "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC",
    "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
  font-weight: normal;
  color: #333c40;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
}

#site-title {
  color: floralwhite;
  font-size: 20px;
  font-weight: 500;
  margin-left: 60px;
}

#layout-topbar {
  background-color: #2d3f43;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9997;
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}

#layout-topbar .menu-button {
  display: none;
  color: #ffffff;
  font-size: 24px;
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 60px;
  line-height: 58px;
  text-align: center;
  transition: background-color .2s;
}

#layout-topbar .menu-button:hover {
  background-color: #4a4f52;
}


#layout-topbar .menu-button i {
  line-height: inherit;
}

#layout-topbar .logo {
  margin-left: 45px;
  margin-top: 15px;
  display: inline-block;
}

#layout-topbar .logo img {
  height: 42px;
}

#layout-topbar h3 {
  height: 42px;
}

.topbar-menu {
  display: inline-block;
  list-style-type: none;
  float: right;
  margin: 0 60px 0 0;
  padding: 0;
  height: 100%;
}

.topbar-menu > li {
  display: inline-block;
  height: 100%;
}

.topbar-menu > li > a {
  text-decoration: none;
  color: #ffffff;
  transition: background-color .2s;
  min-width: 120px;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  height: 100%;
  line-height: 70px;
  font-size: 16px;
}

.topbar-menu > li > a:hover {
  background-color: #4a4f52;
}

.topbar-menu > li > ul {
  display: none;
}

.topbar-menu > li.topbar-menu-themes {
  position: relative;
}

.topbar-menu > li.topbar-menu-themes > ul {
  position: absolute;
  top: 65px;
  left: -50px;
  width: 250px;
  max-height: 300px;
  background-color: #ffffff;
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  overflow: auto;
  list-style-type: none;
  padding: 15px 0;
  margin: 0;
  border-radius: 3px;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  animation-duration: .5s;
}

.topbar-menu > li.topbar-menu-themes > ul > li.topbar-submenu-header {
  padding: 6px 12px;
  font-weight: bold;
  text-align: left;
  background-image: linear-gradient(to left, #2bc0ec, #1b81d7);
  color: #ffffff;
}

.topbar-menu > li.topbar-menu-themes > ul a {
  text-decoration: none;
  color: #404C51;
  padding: 6px 12px;
  display: block;
  transition: all 0.5s ease;
}

.topbar-menu > li.topbar-menu-themes > ul a:hover {
  background-color: #eeeeee;
}

.topbar-menu > li.topbar-menu-themes > ul a img {
  width: 32px;
  vertical-align: middle;
}

.topbar-menu > li.topbar-menu-themes > ul a .topbar-submenu-icon {
  font-size: 20px;
  width: 20px;
  vertical-align: middle;
  margin-right: 8px;
}

.topbar-menu > li.topbar-menu-themes > ul a .ui-text {
  vertical-align: middle;
  margin-left: 8px;
}

.topbar-menu > li.topbar-menu-themes:hover > ul {
  display: block;
}

.topbar-menu > li.topbar-menu-others {
  position: relative;
}

.topbar-menu > li.topbar-menu-others > a{
  min-width: 40px;
}

.topbar-menu > li.topbar-menu-others:hover > ul {
  display: block;
}

.topbar-menu > li.topbar-menu-others > ul {
  position: absolute;
  top: 65px;
  width: 40px;
  max-height: 300px;
  background-color: #ffffff;
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  overflow: auto;
  list-style-type: none;
  padding: 15px 0;
  margin: 0;
  border-radius: 3px;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  animation-duration: .5s;
}

.topbar-menu > li.topbar-menu-others > ul a {
  text-decoration: none;
  color: #404C51;
  padding: 6px 12px;
  display: block;
  transition: all 0.5s ease;
}

.topbar-menu > li.topbar-menu-others > ul a:hover {
  background-color: #eeeeee;
}

/* Sidebar */
#omp-sidebar {
  position: fixed;
  left: 0;
  top: 70px;
  height: calc(100% - 70px);
  background-color: #ffffff;
  overflow-x: hidden;
  overflow-y: auto;
  width: 300px;
  -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  .omp-sidebar-menu {
    div {
      text-align: left;
      a {
        width: 100%;
        height: 50px;
        display: block;
        padding: 15px 0 0 25px;
        cursor: pointer;
        border-top: solid 1px #e3e9ea;
        box-sizing: border-box;
        user-select: none;

        &.active-menuitem {
          background-color: #ffffff !important;
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -ms-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease;

          span {
            color: #1b82d7;
          }

          img.layout-menu-icon-active {
            display: inline;
          }

          img.layout-menu-icon-inactive {
            display: none;
          }
        }

        &:hover {
          background-color: #eeeeee;
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -ms-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
        }

        img {
          width: 20px;
          height: auto;
          float: left;

          &.layout-menu-icon-active {
            display: none;
          }

          &.layout-menu-icon-inactive {
            display: inline;
          }
        }
        span {
          color: #34393a;
          font-size: 16px;
          margin: -2px 0px 0px 30px;
          display: block;
        }
      }
      div.submenu {
        padding: 3px 20px 25px 20px;
        overflow: hidden;
        background-color: #ffffff;
        -moz-transition-duration: 0.2s;
        -webkit-transition-duration: 0.2s;
        -o-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -moz-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
        -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
        -o-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
        transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
        &.submenuHide {
          overflow: hidden;
          max-height: 0;
          padding-top: 0;
          padding-bottom: 0;
          margin-top: 0;
          margin-bottom: 0;
        }
        &.submenuShow {
          max-height: 500px;
        }
        a {
          height: 35px;
          border-top: none;
          width: 50%;
          float: left;
          box-sizing: border-box;
          cursor: pointer;
          border-radius: 4px;
          -webkit-border-radius: 4px;
          font-size: 14px;
          color: #6d7879;
        }
      }
    }
  }
}

.menuitem-badge {
  background: #00b09b;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #96c93d, #00b09b);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #96c93d, #00b09b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 2px 4px;
  vertical-align: middle;
  border-radius: 3px;
  color: #ffffff;
  font-weight: bold;
  font-size: 11px;
  position: relative;
  top: -1px;
}

.theme-badge {
  padding: 2px 4px;
  vertical-align: middle;
  border-radius: 3px;
  color: #ffffff;
  font-weight: bold;
  font-size: 11px;
  position: relative;
  top: -1px;
}

.theme-badge.material {
  background: #00b09b;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #202124, #404147);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #202124, #404147); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.theme-badge.bootstrap {
  background: #563D7C;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #563D7C, #966BD8);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #563D7C, #966BD8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#omp-sidebar .omp-sidebar-menu > div a:hover {
  background-color: #eeeeee;
}

#omp-sidebar .omp-sidebar-menu {
  overflow-y: auto;
  width: 300px;
}

#omp-content {
  margin-left: 300px;
  padding-top: 70px;
  background-color: #ffffff;
}

.omp-card {
  padding: 20px;
}

.layout-mask {
  z-index: 9998;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 100px;
  left: 0;
  display: none;
  background-color: #4c5254;
  opacity: .7;
}

.omp-footer {
  color: #000000;
  font-weight: bold;
  .omp-copyright {
    float: left;
  }
  .footer-links {
    float: right;
    font-size: 24px;
    a {
      color: #000000;
      margin-left: 16px;
    }
  }

}

@media screen and (max-width: 64em) {
  .layout-mask {
    display: block;
  }

  #layout-topbar {
    text-align: center;
  }

  #layout-topbar .menu-button {
    display: inline-block;
  }

  #layout-topbar .logo {
    margin: 7px 0 7px 0;
  }

  .topbar-menu {
    background-color: #363c3f;
    float: none;
    width: 100%;
    height: 40px;
    margin: 0;
    text-align: center;
  }

  .topbar-menu > li > a {
    padding-bottom: 0;
    line-height: 40px;
    min-width: 100px;
  }

  .topbar-menu > li.topbar-menu-themes > ul {
    top: 40px;
  }

  .topbar-menu > li.topbar-menu-others > ul {
    top: 40px;
  }

  #omp-sidebar {
    top: 100px;
    left: -300px;
    transition: left .2s;
    z-index: 9999;
  }

  #omp-sidebar.active {
    left: 0;
  }

  #omp-content {
    margin-left: 0;
    padding-top: 100px;
  }
}

/* Animation */
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -20px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@-webkit-keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
}

@keyframes pulse {
  0% {
    background-color: rgba(165, 165, 165, 0.1)
  }
  50% {
    background-color: rgba(165, 165, 165, 0.3)
  }
  100% {
    background-color: rgba(165, 165, 165, 0.1)
  }
}



/* OMP */
.omp-dashboard {
  padding: 20px 0;
}
