<div class="layout-wrapper">
  <div id="layout-topbar">
    <a href="#" class="menu-button" (click)="onMenuButtonClick($event)">
      <i class="fa fa-bars"></i>
    </a>

    <!--<a class="logo" [routerLink]="['/']">
      <img alt="logo" src="assets/images/logo.png"/>
    </a>-->

    <a id="site-title" [routerLink]="['/']">Online Market Price</a>

    <ul class="topbar-menu">
      <li>
        <a [routerLink]="['/price']">品类价格</a>
      </li>
      <li>
        <a [routerLink]="['/status']">数据监控</a>
      </li>
    </ul>
  </div>

  <div id="omp-sidebar" [ngClass]="{'active': menuActive}">
    <div class="omp-sidebar-menu">
      <div *ngFor="let menuItem of config">
        <a [id]="menuItem.id" [class.active-menuitem]="menuItem.id == activeMenuId"
           [routerLink]="menuItem.link || null"
           (click)="activeMenuId = (activeMenuId === menuItem.id && menuItem.children.length > 0 ? null : menuItem.id)">
          <!--<img src="assets/1.svg" class="layout-menu-icon-active"/>
          <img src="assets/2.svg" class="layout-menu-icon-inactive"/>-->
          <span>{{menuItem.title}}</span>
        </a>
        <div *ngIf="menuItem.children.length > 0" class="submenu"
          [ngClass]="{submenuShow: (menuItem.id == activeMenuId), 'submenuHide': (menuItem.id != activeMenuId)}">
          <a *ngFor="let submenuItem of menuItem.children"
             [routerLink]="submenuItem.link" (click)="menuActive = false">&#9679; {{submenuItem.title}}</a>
        </div>
      </div>

    </div>
  </div>

  <div id="omp-content">
    <div class="omp-card">
      <router-outlet></router-outlet>
      <div class="omp-footer clearfix">
        <span class="omp-copyright">The School of Economics, Xiamen University &copy; 2019 - 2022</span>
        <div class="footer-links">
          <!--<a href=""><i class="fa fa-github"></i></a>-->
          <div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
